<div class="col-sm-12">	
		<div class="row">
			<img class="aboutMissionImg" src="images/foto_aboutus.jpg" class="img-responsive" /> 
		</div>		
		<br />
		<div class="aboutUsBox"> 
	    	<div class="bold text-center"><%= __('about_us') %></div>
	    	<br />
	    	<div><i class="fa fa-quote-left" aria-hidden="true"></i> <%= __('aboutus_text') %> <i class="fa fa-quote-right" aria-hidden="true"></i></div>
		</div>	
	<br />	
	<br />
	<br />
</div>



<script>

$(document).ready(function(){

});

</script>

