<div class="col-sm-8 col-centered" align="center">	
	<h1>Mission and Values</h1>
		
		<div class="list-group div-text">
		<div class="applicantsBox"> 
				<div class="row">
			    	<div><h2>Vision</h2></div>
			    	<div>Our vision is to become global and be the number one in recruiting talents all over the world.</div>
				</div>
			</div>
			<div class="applicantsBox"> 
				<div class="row">
			    	<div><h2>Mission</h2></div>
			    	<div>Our mission is to become global and be the number one in recruiting talents all over the world.</div>
				</div>
			</div>
			<div class="applicantsBox"> 
				<div class="row">
			    	<div><h2>Values</h2></div>
			    	<div>Our value is to bring a new perspective to the market of talent recruitment, being modern and environment friendly.</div>
		    	</div>
			</div>
		</div>
		<br />
		<br />		
</div>


<script>

$(document).ready(function(){

});

</script>

