<div class="col-sm-12">	
		<div class="row">
			<img class="aboutMissionImg" src="images/background.jpg" class="img-responsive" /> 
		</div>		
		
			<div class="missionVisionBox"> 
			    	<div class="bold_italic text-center"><%= __('vision') %></div>
			    	<div>Our vision is to become global and be the number one in recruiting talents all over the world.</div>
			</div>
			<div class="missionVisionBox"> 
			    	<div class="bold_italic text-center"><%= __('mission') %></div>
			    	<div>Our mission is to become global and be the number one in recruiting talents all over the world.</div>
			</div>
			<div class="missionVisionBox"> 
			    	<div class="bold_italic text-center"><%= __('values') %></div>
			    	<div>Our value is to bring a new perspective to the market of talent recruitment, being modern and environment friendly.</div>
			</div>
				
</div>

<br />

<script>

$(document).ready(function(){

});

</script>

