<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3> Opportunities </h3>
                    <ul>
                        <li> <a href="/listOpportunities"> View Opportunities </a> </li>
                        <li> <a href="#"> Leave Your CV </a> </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h3> Contact </h3>
                    <ul>
                        <li> <a href="/contactUs?requestFrom=jobSeeker"> For Job Seekers </a> </li>
                        <li> <a href="/contactUs?requestFrom=employer"> For Employers </a> </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h3> WelTalent </h3>
                    <ul>
                        <li> <a href="#"> About Us </a> </li>
                        <li> <a href="/meetTeam"> Meet the Team </a> </li>
                        <li> <a href="/missionValues"> Mission and Values </a> </li>
                    </ul>
                </div> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright &copy; WelTalent 2017. All rights reserved. </p>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>