<div>
	<nav class="navbar navbar-custom" role="navigation" style="padding-left:10px;padding-right:10px;">
      <ul class="nav navbar-nav cus_menu pull-left">
      	<li><a class="menu-img-custom" href="/home"><img class="img-logo" src="images/weltalent_logo_small.png" /></a></li>
      </ul>
      <ul class="nav navbar-nav cus_menu pull-right">
      	<li><a class="menu-custom" href="/listOpportunities"><%= __('opportunities') %></a></li>
        <li><a class="menu-custom" href="/contactUs?requestFrom=employer"><%= __('looking_hire') %></a></li>
        <li class="dropdown">
			<a href="#" class="dropdown-toggle menu-custom" data-toggle="dropdown" role="button" aria-expanded="false"><img src="images/flags/gb.svg" alt="..." class="img-thumbnail icon-small"> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="setlocale/en"><img src="images/flags/gb.svg" alt="..." class="img-thumbnail icon-small"></a></li>
                <li><a href="setlocale/es"><img src="images/flags/es.svg" alt="..." class="img-thumbnail icon-small"></a></li>
                <li><a href="setlocale/pt"><img src="images/flags/pt.svg" alt="..." class="img-thumbnail icon-small"></a></li>
            </ul>
        </li>
      </ul>
	</nav>
</div>

